@model DiplomaProject.Models.Note

@{
    ViewData["Title"] = "Details";
}

    <div class="container" style="background: #EEEEEE; font-size:x-large">
        <h1>@Html.DisplayFor(model => model.noteDate)</h1>
        <div style="margin-bottom:10px">
            <p>
                <span style="font-weight:bold">@Html.DisplayNameFor(model => model.plans) </span>:
                @Html.DisplayFor(model => model.plans)
            </p>
            <p>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.Mood) </span>:
                @Html.DisplayFor(model => model.Mood.moodName)
            </p>
            <p>
                <span style="font-weight:bold">
                    @Html.DisplayNameFor(model => model.Activity)
                </span>:
                @Html.DisplayFor(model => model.Activity.activityName)
            </p>
           
            <div style="font-weight:bold">
                @Html.DisplayNameFor(model => model.thoughts)
            </div>
            <textarea readonly cols="80" rows="5">
            @Html.DisplayFor(model => model.thoughts)
        </textarea>
        </div>
        <div style="margin-bottom:10px">
            <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-secondary">Редагувати</a> 
            <a asp-action="Index" class="btn btn-secondary">Назад</a>
        </div>
    </div>